*{margin:0;padding:0;}
body, html{height:100%;}
body{
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color:#f9f9f9;
    font-size:14pt;
    overflow:hidden;
}

.close{clear:both;}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.marginedV{margin:20px 0;}

